Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
prodDb.mv.db
apps/tlv-app/bin/
apps/tlv-app/application.yml
packaged-chart
*.lock
charts/*.tgz
.asscache
*java_pid*
*.tgz
