.tooltip-measure {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    position: relative;
    white-space: nowrap;
}
