#imagePropertiesDiv {
	display: none;
	left:50%;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	z-index: 1000;
}

#imagePropertiesDiv .table {
	background: none;
}

#DRA_slider_parent {
	margin-top: 10px;
	margin-bottom: -5px;
}

#DRA_slider_parent div.slider-selection {
	background: lightskyblue;
}

#DRA_midpoint_parent div.slider-selection {
	background: none;
	border: none;
}
#DRA_midpoint_parent {
	pointer-events: none;
}

#DRA_midpoint_parent div.slider-track-low {
	background: none;
	border: none;
}

#DRA_midpoint_parent div.slider-track {
	pointer-events: none;
	background: none;
	border: none;
	height: 0px;
}

#DRA_midpoint_parent div.slider-handle {
	pointer-events: auto !important;
	background: none;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 12px 5px;
	border-color: transparent transparent white transparent;
}

#DRA_midpoint_parent div.slider-track-high {
	background: none;
	border: none;
}

div.slider-handle.min-slider-handle.round {
	border-radius: 0px;
	width: 10px;
}

div.slider-handle.max-slider-handle.round {
	border-radius: 0px;
	width: 10px;
}

div.slider-selection {
	border-radius: 0px;
	background: lightskyblue;
}
