#errorDialog {
    display: none;
    bottom: 0;
    left: 0;
	position: fixed;
    text-align: center;
    width: 100%;
    z-index: 9999;
}

.navbar {
	background: none;
	border: none;
	margin-bottom: 0px;
    pointer-events: none;
}

.navbar-right {
    pointer-events: auto;
}

.navbar li {
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
}

.security-classification {
	font-weight: bold;
	left: 0;
	margin: 0 auto;
	position: relative;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.slider-selection, .slider-track-high { background: #303c3a; }

.table th, .table td { border-top: none !important; }

.transition {
    -moz-transition: all 1s;
    transition: all 1s;
    -webkit-transition: all 1s;
}
