/*
*= require webjars/font-awesome/4.4.0/css/font-awesome.css
*= require bootstrap-datetimepicker-4.15.35
*= require bootstrap-slider
*= require webjars/typeahead.js-bootstrap-css/1.2.1/typeaheadjs.css
*= require ol-4.4.2
*=
*= require index
*= require time-lapse
*= require map-control
*= require menus/search
*= require menus/export
*= require menus/layers
*= require image-properties
*= require menus/tools
*= require menus/view
*=
*= require security
*/
