.banner {
	font-weight: bold;
	position: sticky;
	text-align: center;
	z-index: 9999;
}

.modal-xl {
	overflow-y: auto;
	width: 90%;
}

#swipeSlider {
	display: none;
	height: 100%;
	left: 50%;
	position: absolute;
	top: 0px;
	width: 1px;
}

#swipeSlider:hover {
	cursor: ew-resize;
}

#tileLoadProgressBar {
	background: rgba(255, 255, 255, 1);
	height: 1px;
	left: 0;
	position: relative;
	top: 0;
	visibility: hidden;
	width: 0;
}

.tooltip-inner {
	max-width: none;
	white-space: nowrap;
}
