#acquisitionDateDiv {
	bottom: 0.5em;
    right: 0.5em;
    text-align: right;
}

.custom-map-control {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
    position: absolute;
}

.fast-forward-control {
	left: 8em;
	top: 0.5em;
}

#imageIdDiv {
	bottom: 0.5em;
    left: 0.5em;
    text-align: left;
}

.ol-full-screen {
	left: 0.5em;
	right: auto;
	top: 90px;
}

.ol-mouse-position {
	background-color: none;
	bottom: 0.5em;
	color: white;
	cursor: pointer;
	right: auto;
	text-align: center;
	text-shadow: 2px 2px black;
	top: auto;
	width: 100%;
}

.ol-rotate, .ol-rotate.ol-hidden {
    left: 0.5em;
    opacity: 1;
    right: auto;
    top: 60px;
    visibility: visible;
}

/* mobile device support */
.ol-touch .ol-rotate { top: 80px; }

/* mobile device support */
.ol-touch .ol-full-screen { top: 120px; }

.play-stop-control {
	left: 5.5em;
	top: 0.5em;
}

.rewind-control {
	left: 3em;
	top: 0.5em;
}

.summary-table-control {
	left: 10.5em;
	top: 0.5em;
	width: auto;
}

#swipeSlider {
	display: none;
	height: 100%;
	left: 50%;
	position: absolute;
	top: 0px;
	width: 1px;
}

#swipeSlider:hover {
	cursor: ew-resize;
}

#tileLoadProgressBar {
	background: rgba(255, 255, 255, 1);
	height: 1px;
	left: 0;
	position: relative;
	top: 0;
	visibility: hidden;
	width: 0;
}

.tooltip-inner {
	max-width: none;
	white-space: nowrap;
}
